<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/search.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/welcome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/register.js"></script>
    <script src="/javascripts/animal.js"></script>
    <script src="/javascripts/login.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"><</script>

</head>
<body>
<header>
    <div class="heading">
        <h3 id="welcomeId" onclick="popup_modal('welcome');">Pet Adoption</h3>
    </div>
    <div>
        <nav>
            <ul>
                <li><a id="loginId" onclick="popup_modal('loginModal');">Login</a></li>
                <li><a id="registerId" onclick="popup_modal('registerModal');">Register</a></li>
                <li><a id="addAnimalId" onclick="popup_modal('addAnimalModal');">Add animal</a></li>
                <li><a>Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- The Log in modal -->
<%- include partials/login.ejs %>

<!--The registration popup modal -->
<%- include partials/registration.ejs %>

<!-- Add animal modal -->
<%- include partials/addanimal.ejs %>

<!-- Success modal -->
<%- include partials/success.ejs %>


<div class="main">
    <%- include partials/searchBar.ejs %>
    <div class="row">
        <%
        for(var i = 0; i < data.length; i++) { %>
            <div class="column pets">
                <div class="content">
                    <input type="hidden" id="animalId" name="animalId" value="<%= data[i]._id %>">
                    <input id="animalImageId" name="animalImageId" type="image" src="<%= data[i].animalImage %>"
                           alt="<%= data[i].name %>" style="width:100%"/>
                    <h4><%= data[i].name %></h4>
                    <p><%= data[i].town %></p>
                </div>
            </div>
        <% } %>
    </div>
</div>
<script>
    filterSelection("all")

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("column");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }


    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>

</body>
</html>