<!DOCTYPE html>
<html>
<head>
    <title> <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/welcome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/register.js"></script>
    <script src="/javascripts/animal.js"></script>
    <script src="/javascripts/login.js"></script>
    <script src="/javascripts/search.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div id="image">
    <header>
        <div>
    <%- include partials/header.ejs %>
        </div>
    </header>
    <div>
        <h1>PET ADOPTION</h1>
        <h3><strong>Come,</strong> adopt us.</h3>
        <%- include partials/searchBar.ejs %>
    </div>
</div>

<!-- The Log in modal -->
<%- include partials/login.ejs %>

<!--The registration popup modal -->
<%- include partials/registration.ejs %>

<!-- The Add Animal modal -->
<%- include partials/addanimal.ejs %>

<!-- Success modal -->
<%- include partials/success.ejs %>

<!-- Scroll images container -->
<div>
    <h2>Our little pets</h2>
    <div class="slider">
        <span id="slide-1"></span>
        <span id="slide-2"></span>
        <span id="slide-3"></span>
        <span id="slide-4"></span>
        <div class="image-container">
            <img src="../images/pet1.jpg" class="slide" width="500" height="400"/>
            <img src="../images/pet2.jpg" class="slide" width="500" height="400"/>
            <img src="../images/pet3.jpg" class="slide" width="500" height="400"/>
            <img src="../images/pet4.jpg" class="slide" width="500" height="400"/>
        </div>
        <div class="buttons">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
        </div>
    </div>
</div>

<br>
<br>
<%- include partials/footer.ejs %>
</body>
</html>